body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-container{
    background-color: rgb(75, 75, 75);
    width: 350px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
}

.display{
    flex: 1 1 15%;
    width: 95%;
    font-size: 2.5em;
    background-color: green;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5%;
}
.buttons-container {
    flex: 1 1 85%;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.rows{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons{
    background-color: white;
    border-radius: 10px;
    flex: 1;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}